:root {
  --clr-bg-primary: #fff;
  --clr-bg-accent: #f55a5a;
  --clr-text-primary: #2b283a;
  --clr-text-grey: #918e9b;
  --clr-grey1: #f5f5f5;
  --clr-grey2: #f5f7fb;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/***************************************** basic styles */
body {
  font-family: "Inter", sans-serif;
  color: var(--clr-text-primary);
}

/***************************************** header styles */

.header {
  background: var(--clr-bg-accent);
  height: 55px;
  color: var(--clr-bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--logo {
  width: 24px;
  margin-right: 7px;
}

/**************************************** Main Content styles */
.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 40px;
}

.card {
  display: flex;
  align-items: center;
  gap: 19px;
  margin: 18px 0;
}

.card--image {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}

.card--content--location {
  display: flex;
  align-items: center;
}

.card--content--location--img {
  margin-right: 4px;
  width: 7px;
}

.card--content--location--country {
  margin-right: 12px;
  text-transform: uppercase;
  line-height: 12px;
  font-size: 10.24px;
  letter-spacing: 0.17em;
}

.card--content--location--link {
  color: var(--clr-text-grey);
  font-size: 10.24px;
  line-height: 12px;
}

.card--content--title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-top: 7px;
  margin-bottom: 12px;
}

.card--content--dates {
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
}

.card--content--description {
  font-size: 10.24px;
  line-height: 150%;
  margin-top: 9px;
}

hr {
  height: 0;
  border: 1px solid #f5f5f5;
}

.container:last of type > hr {
  display: none;
}
